{
  "plugins": [
    "transform-object-rest-spread",
    "transform-runtime",
    "react-hot-loader/babel",
  ],
  "presets": [
    ["env", {
      "targets": {
        "browsers": [
          "last 4 versions",
          "> 5%",
          "ie 11",
        ]
      }
    }],
    "react",
  ],
}
