{
  "plugins": [
    "transform-object-rest-spread",
    "transform-runtime",
    "react-hot-loader/babel",
  ],
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "ie 11"]
      }
    }],
    "react",
  ],
}
