{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "rules": {
    "no-console": 0,
    "no-unused-vars": ["warning", {
      "argsIgnorePattern": "^_*$",
      "varsIgnorePattern": "^_*$"
    }],
    "react/prop-types": "warning",
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "react/react-in-jsx-scope": "error",
    "strict": ["error", "never"]
  },
  "plugins": [
    "react"
  ]
}
