@charset 'UTF-8'
@require './includes/**/*'


//-------------------------------------------
// Main Callouts
//-------------------------------------------

.main__heading
	display flex
	flex-wrap wrap
	align-items baseline
	margin-bottom rem(10)

.main__heading__content
	display block

.main__heading__text
	display block
	color text-color--wild

.main__heading__subtext
	color text-color--light

@media xsmall-only
	.main__heading__space
		display none

// .main__callout


//-------------------------------------------
// Sub Items
//-------------------------------------------

.main__subheading
	margin-bottom rem(10)


//-------------------------------------------
// Search
//-------------------------------------------

.main__search
	width 100%


//-------------------------------------------
// Description
//-------------------------------------------

.main__description
	description()
	text()

.main__description--list
	padding-left 0
	list-style none
