//-------------------------------------------
// Background Colors
//-------------------------------------------

// Tones
white = #fff
black = #000
grey = #999
grey-light = #ccc
grey-dark = #444
red = #f00

// Transparent Tones
transparent-black = rgba(black, 0.4)
transparent-grey-dark = rgba(grey-dark, 0.5)


//-------------------------------------------
// Text Colors
//-------------------------------------------

text-color--generic = black
text-color--alternate = white
text-color--light = grey
text-color--wild = grey
text-color--bold = grey-dark
text-color--error = red


//-------------------------------------------
// Background Colors
//-------------------------------------------

background-color--generic = white
background-color--alternate = transparent-grey-dark
background-color--bold = grey-dark
background-color--wild = grey-light
background-color--muted = transparent-black
background-color--error = red


//-------------------------------------------
// Border Colors
//-------------------------------------------

border-color--generic = black
border-color--alternate = white
border-color--light = grey
border-color--wild = grey-light
border-color--muted = grey-dark
