//-------------------------------------------
// Font Faces
//-------------------------------------------

// N/A


//-------------------------------------------
// Font Families
//-------------------------------------------

font-family--base = Arial, Helvetica, sans-serif
font-family--roboto = Roboto, font-family--base


//-------------------------------------------
// Font Sizes
//-------------------------------------------

font-size--base = 16px
font-size--base--print = 10pt

// $font-size--heading = rem(36)
// $font-size--subheading = rem(16)
// $font-size--paragraph = rem(14)
// $font-size--information = rem(13)
// $font-size--fine-print = rem(11)


//-------------------------------------------
// Fake Text Outline
//-------------------------------------------

text-outline--thin = -1px -1px 0 text-color--generic,
	1px -1px 0 text-color--generic,
	-1px 1px 0 text-color--generic,
	1px 1px 0 text-color--generic,
	rem(5 5) 0 text-color--generic
