@require './functions'


//-------------------------------------------
// Text
//-------------------------------------------

text()
	margin-top 0

	&:only-child
	&:last-child
		margin 0

description()
	margin-bottom rem(16)
	line-height 1.6
