@charset 'UTF-8'
@require '~utilities/style-vars'


//-------------------------------------------
// Border-Box
//-------------------------------------------

*
::before
::after
	box-sizing border-box


//-------------------------------------------
// Body
//-------------------------------------------

html
body
	height 100%

html
	font-family font-family--roboto
	font-size font-size--base
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale

	@media xlarge-up
		font-size font-size--base + 2

	@media xxlarge-up
		font-size font-size--base + 4

	@media print-only
		font-size font-size--base--print


body
	overflow-x hidden


//-------------------------------------------
// iFrames
//-------------------------------------------

iframe
	width 100%
	border 0


//-------------------------------------------
// Text Overrides
//-------------------------------------------

h1
h2
h3
h4
h5
h6
p
	text()


//-------------------------------------------
// Line Spacing
//-------------------------------------------

li
p
	description()


//-------------------------------------------
// Links
//-------------------------------------------

h1
h2
h3
h4
h5
h6
	a
		text-decoration none

a
	color text-color--wild

p
	.text-underline
		text-decoration underline

li
p
	& .no-text-underline
		text-decoration none


//-------------------------------------------
// Media Query Viewport Width
//-------------------------------------------

@viewport
	width device-width
