@charset 'UTF-8'
@require '~utils/style-vars'


//-------------------------------------------
// Container
//-------------------------------------------

#root
	height 100%

.site-layout
	display flex
	height 100%


//-------------------------------------------
// Content
//-------------------------------------------

.site-layout__container
	height 100%

// .site-layout__content

.site-layout__content--development
	flex 1 1 auto

.site-layout__tests
	flex 0 0 430px
	border-left rem(4) solid black

.site-layout__tests__frame
	position absolute
	height 100%
