@charset 'UTF-8'
@require '~utilities/style-vars'


//-------------------------------------------
// Container
//-------------------------------------------

.site-layout
	display flex


//-------------------------------------------
// Content
//-------------------------------------------

.site-layout__content
	flex 0 0 50%
	width 50%

.site-layout__tests
	flex 0 0 50%
	width 50%

.site-layout__tests__frame
	position absolute
	height 100%
